<ion-header>
  <ion-navbar>
    <ion-title id="header">Update Progress</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-center>
    <ion-list>
        <ion-item>
            <ion-label stacked>Weight: {{date}}</ion-label>
            <ion-input [(ngModel)]="weight" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Height: </ion-label>
          <ion-input [(ngModel)]="height" type="number" (change)='input()'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>BMI: </ion-label>
          <ion-input [(ngModel)]="bmi" readonly="{{isReadonly}}" type="text"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button outline id="log" (click)='btnLog();'>Add Log</button>
    <button ion-button outline (click)='btnReturn();'>Return</button>
  <ion-card *ngFor="let r of records | async" (click)="openButton(r)">
    <ion-item *ngIf="r !== undefined">
      Date: {{r.date}}<br>
      Weight: {{r.weight}}<br>
      Height: {{r.height}}<br>
      BMI: {{r.bmi}}
    </ion-item>
    <ion-card-title *ngIf="r !== undefined"> 
    </ion-card-title>
  </ion-card>
</ion-content>