page-home {

}
//Headings
#heading {
    text-align: center;
}
#sub-heading {
    text-align: center;
}

//Divs
#first-div {            
    text-align: center;
    overflow: visible!important;
}
#second-div {            
    text-align: center;
    overflow: visible!important;
}
#third-div {            
    text-align: center;
    overflow: visible!important;
}

//First Div
#accounts-button {            
    position: left;
    width: 140px;
    height: 140px;
    overflow: visible!important;
}
#accounts-badge {
    top: -3px;
    right: -3px;
    border-radius: 10%;
}

#exercise-button {            
    position: right;
    width: 140px;
    height: 140px;
    overflow: visible!important;
}
#exercise-badge {
    top: -3px;
    right: -3px;
    border-radius: 10%;
}

//Second Div
#tracer-button {            
    position: left;
    width: 140px;
    height: 140px;
    overflow: visible!important;
}
#tracer-badge {
    top: -3px;
    right: -3px;
    border-radius: 10%;
}

#calorie-button {            
    position: right;
    width: 140px;
    height: 140px;
    overflow: visible!important;
}
#calorie-badge {
    top: -3px;
    right: -3px;
    border-radius: 10%;
}

//Third Div
#update-button {            
    position: left;
    width: 140px;
    height: 140px;
    overflow: visible!important;
}
#update-badge {
    top: -3px;
    right: -3px;
    border-radius: 10%;
}

#display-button {            
    position: right;
    width: 140px;
    height: 140px;
    overflow: visible!important;
}
#display-badge {
    top: -3px;
    right: -3px;
    border-radius: 10%;
}